/* Text styling */
body {
  font-family: 'Spartan', sans-serif;
}


a:hover {
  color: white;
}

.text-shadow {
  text-shadow: 2px 2px 2px #29472A;
}

.carousel-inner {
  box-shadow: 3px 3px 5px grey;
}

a:link, a:visited {
  color: rgb(63, 85, 63); 
} 

/* Nav */
.nav {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 35px;
  z-index: 1;
}
.text-shadow {
  text-shadow: 2px 2px 2px #29472A;
  font-family: 'Gotu', sans-serif;
}

/* Logo */
.logo {
  position: absolute;
  top: -5px;
  width: 170px;
}

.logo2 {
  position: absolute;
  width: 170px;
  /* height: 200px; */
}

.logo-link {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  z-index: 1;
}

/* Form */
.hike-search {
  position: absolute;
  z-index: 1;
}
.form-control {
  font-size: 12px;
  color: lightslategray;
}
.search-button {
  background-color: rgb(44, 66, 44);
}

/* Map */
.map-section {
  border-top: 2px solid rgb(188, 196, 190);
  border-bottom: 2px solid rgb(188, 196, 190);
}
.map-box {
  width: 100%;
  height: 500px;
}

/* Plant side bar, Only on larger screens*/
.side-bar {
  background-color: white;
  color: rgb(44, 66, 44);
}
.plant-list {
  list-style-type: none;
}
/* Plant bar beneath map (only on smaller screen sizes) */
.bottom-bar {
  display: none;
  color: rgb(44, 66, 44);
}

/* Responsive features to show and nav plant sections by screen size */
@media only screen and (max-width: 991px){
  .side-bar {
  display: none;
  }
  .bottom-bar {
    display: inherit;
  }
}
@media only screen and (max-width: 768px){
  .map-box {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 640px){
  .map-box {
    width: 100%;
    height: 300px;
}
  }

/* Recipe Section */
.card-title {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  background:rgba(245, 255, 247, 0.8);
  padding: 10px 20px 10px 40px;
  font-weight: bold;
  color: rgb(44, 66, 44);
}

/* Footer */
footer {
  background-color: white;
  color: rgb(44, 66, 44); 
  font-size: 25px;
}

/* Plant Page */
.plants-header-box {
  background-image: url("images/photo-1425736317462-a103b1303a35.jpeg");
}

.plant-space, .contact-space {
  background-color: rgb(247, 247, 247);
}

.page-header-box {
  background-image: url("images/photo-1425736317462-a103b1303a35 copy 2.jpeg");
  color: white;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
  padding: 10px;
  box-shadow: 3px 3px 5px grey;
}

/* Too broad, interferes with homepage, choose different class*/
/* h5 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 5px grey;
} */
#plant-button {
  color: white;
  font-size: 12px;
  background-color: rgb(32, 53, 37);
}
#modal-button {
  color: white;
  font-size: 12px;
  background-color: rgb(32, 53, 37);
}


      
    